html {
    background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: #fafafa;
    font-family: "Arial", "Arial Bold", Gadget, sans-serif;
}

h1 {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin-top: 17px;
}

p {
    line-height:  150%;
}

hr {
    border-color: #cccccc;
}
    
#container {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(30, 30, 30, 0.83);
    padding: 0px 10px 10px 10px;
    -moz-border-radius:  15px;
    border-radius:  15px;    
}

a:link {color:#2487ff;}     
a:visited {color:#2788ff;} 
a:hover {color:#57a3ff;} 
a:active {color:#0092ff;} 